<div *ngIf="isLoaded" class="mt-28">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="form-control w-full max-w-xs mx-auto">
      <div class="border-gray-400 border rounded-xl p-5">
        <label for="name" class="label" i18n="Add employee form name@@addEmployeeFormName">Jméno</label>
        <input class="input input-bordered w-full max-w-xs" formControlName="name" id="name" name="nameInput"
               type="text" required>
        <label for="surname" class="label" i18n="Add employee form surname@@addEmployeeFormSurname">Příjmení</label>
        <input name="surnameInput" type="text" id="surname" formControlName="surname"
               class="input input-bordered w-full max-w-xs" required>

        <label class="label" for="birthday" i18n="Add employee form birthday@@addEmployeeFormBirthday">Datum narození</label>
        <div class="date-border">
          <input class="date-picker" type="date" formControlName="birthday" name="birthdayInput" id="birthday" required>
        </div>
        <label class="label" for="position" i18n="Add employee form position@@addEmployeeFormPosition">Pozice</label>
        <select name="positionSelect" formControlName="position" class="select select-bordered w-full max-w-xs"
                id="position" required>
          <option *ngFor="let position of positions.positions" [value]="position">{{ position }}</option>
        </select>
        <button type="submit" class="btn mt-5" [disabled]="!employeeForm.valid" i18n="Add employee form save@@addEmployeeFormSave">Uložit</button>
      </div>
    </div>
  </form>
</div>
